
<div class="mt-5">
    <div class="row">
        <div class="col-lg-9" style="background-color: antiquewhite;">
            <h2>{{users.name}}</h2>
            <img src="{{users.image}}" style="width: 100%;"/>
            <p>{{users.mssv}}</p>
        </div>

        <div class="col-lg-3">
            <button>Dang Ky Ngay</button>
        </div>
    </div>
</div>