<div class="mt-4">
  <form method="get" action="">
    <div class="form-group">
      <label for="search-input">Tìm Kiếm</label>
      <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>